.header {
  position: relative;
  min-height: 720px;
  max-height: 800px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  padding: 30px 80px 40px;
  background-color: #ffffff;
  background-image: url("../images/background_header.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.header__title {
  margin-top: 183px;
  margin-bottom: 0;
  max-width: 709px;
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 58px;
  line-height: 72px;
  letter-spacing: -1px;
  color: #000000;
}

.header__span-accent {
  display: block;
  font-family: "Noto Serif", "Times New Roman", serif;
  font-style: italic;
  font-weight: normal;
  font-size: 58px;
  line-height: 72px;
  color: #2f80ed;
}

.header__title-line {
  display: block;
}

.header__description {
  margin-top: 28px;
  margin-bottom: 0;
  max-width: 683px;
  font-family: "Noto Serif", "Times New Roman", serif;
  font-size: 20px;
  line-height: 30px;
  font-weight: 400;
  color: #000;
}


.header__image {
  position: absolute;
  top: 124px;
  right: 80px;
  width: 646px;
  height: 568px;
  object-fit: contain;
}


.header__footer {
  margin-top: auto;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}

.header__paragraph {
  margin: 0;
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #838383;
}

.header__hours .header__paragraph {
  margin-bottom: 2px;
}

.header__hours .header__paragraph:last-child {
  margin-bottom: 0;
}
