.nav {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav__logo {
  position: relative;
  left: -5px;
  display: block;
}

.nav__logo img {
  display: block;
  width: 105px;
  height: 39px;
}

.nav__links {
  display: flex;
  align-items: center;
  gap: 40px;
  list-style: none;
}

.nav__link {
  color: #000000;
  text-decoration: none;
}

.nav__link:hover {
  color: #2f80ed;
}